.about {
  position: relative;
  padding-top: size(80px);
  padding-bottom: size(70px);
  background: $about-gradient;

  & .positioner {
    overflow: hidden;
  }

  @include mobile {
    padding-top: 43px;
    padding-bottom: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    left: size(42px);
    top: 0;
    background-color: transparent;
    width: size(28px);
    height: size-vh(577px, $container-height);
    background-image: url('../../img/about__bg-left.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: size(28px);
    z-index: 1;

    @include mobile {
      content: none;
    }
  }

  & .container {
    position: relative;
  }

  &__title {
    margin: 0;
    margin-bottom: size(15px);
  }

  &__descr {
    position: relative;
    right: -100%;
    margin: 0;
    width: 100%;
    max-width: size(1144px);
    letter-spacing: size(-0.7px);
    @include font-large;
    color: $white-light;
    opacity: 0;
    transition: all 1s ease-in-out;

    &--show {
      opacity: 1;
      right: 0;
    }

    @include mobile {
      letter-spacing: -0.3px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
