.header {
  margin-left: auto;
  margin-right: auto;

  padding-top: size(35px);
  padding-right: size-desktop(100px);
  padding-bottom: size(58px);
  padding-left: size-desktop(100px);

  box-sizing: border-box;
  width: 100%;

  &__logo {
    margin-right: size(156px);
  }

  &__nav {
    margin-right: size(25px);
  }
}

.header__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: size(60px);
}
