.header {
  padding-top: size(35px);
  padding-bottom: size(58px);
  box-sizing: border-box;
  width: 100%;

  &__logo {
    margin-right: size(160px);
  }

  &__nav {
    margin-right: size(25px);
  }
}

.header__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
