.ieo {
  padding-top: size(80px);
  padding-bottom: size(74px);

  @include mobile {
    padding-top: 67px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: size(35px);

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__content-wrap {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;

    @include tablet-small {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__img-wrap {
    width: 100%;
    max-width: size(435px);
    margin-right: size(45px);

    img {
      display: block;
      width: size(435px);
      max-width: 100%;
      height: auto;

      @include mobile {
        margin-bottom: 5px;
        position: relative;
        margin-top: -21px;
        width:  258px;
        height: 217px;
      }
    }

    @include tablet-small {
      margin-right: 0;
      width: auto;
      max-width: 100%;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__advance {
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
}


.ieo__img-wrap {
  position: relative;

  .ieo__img-coin {
    position: absolute;

    &--first {
      bottom: size(156px);
      left: size(65px);

      width: size(87px);
      height: size(63px);
    }

    &--second {
      top: size(77px);
      left: size(116px);
      width: size(142px);
      height: size(102px);
    }


    @include mobile {
      display: none;
    }
  }
}
