.lang {
  &__list {
    @include list-reset;
    position: relative;
  }

  &__link {
    display: block;
    @include link-reset;
    @include font-xs;
    transition: color 0.3s ease-in-out;
    color: $white-light;

    &--triangle {
      &::before {
        content: '';
        position: absolute;
        right: size(-13px);
        top: size(8px);
        width: size(6px);
        height: size(6px);
        border-left: size(2px) solid $white;
        border-bottom: size(2px) solid $white;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: size(56px);
        height: size(40px);
        border: size(1px) solid $white-light;
        border-radius: size(10px);
        background-color: transparent;
        transition: all 0.3s ease-in-out;
      }

      @include mobile {
        font-size: 16px;
        line-height: 12px;

        &::after {
          content: none;
        }

        &::before {
          top: 0;
        }
      }
    }
  }

  // dropdown menu

  &__sub-list {
    display: none;
    position: absolute;
    @include list-reset;
    top: size(42px);
    right: -25px;

    border-radius: 3px;
    background-color: $dark-black;

    @include tablet-small {
      top: -125px;
      right: -21px;
    }

    @include mobile {
      top: -94px;
    }

    &--open {
      display: block;
    }
  }

  &__sub-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sub-link {
    @include link-reset;
    @include font-xs;
    color: $white-light;
    display: block;
    padding-top: size(15px);
    padding-right: size(20px);
    padding-left: size(5px);
    padding-bottom: size(15px);

    &:hover {
      color: $gold;
      cursor: pointer;
    }

    @include mobile {
      font-size: 16px;
      line-height: 12px;
    }
  }
}
