.logo {
  &__link {
    width: size(274px);
    height: size(53px);
    display: block;
    @include link-reset;

    @include mobile {
      width: 100%;
      max-width: 145px;
      height: 28px;
    }
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}
