.nav {
  width: 100%;
  max-width: size(700px);


  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    @include list-reset;

    @include tablet-small {
      flex-direction: column;
      height: 100vh;
    }
  }

  &__item {
    margin-right: size(18.6px);

    &:last-child {
      margin-right: 0;
    }

    @include tablet-small {
      margin-right: 0;
      border-bottom: 1px solid $white;
    }
  }

  &__link {
    position: relative;
    display: block;
    @include link-reset;
    @include font-xs;
    transition: color 0.3s ease-in-out;
    color: $white-light;

    &::after {
      display: block;
      content: '';
      height: 2px;
      width: 0%;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);
      background-color: $gold;
    }

    &:hover {
      transition: color 0.3s ease-in-out;
      color: $gold;
    }

    &:hover::after {
      width: 100%;
    }

    @include tablet-small {
      padding-top: 20px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-left: 30px;

      &:hover::after  {
        color: $gold;
        content: none;
      }
    }
  }
}
