.paper {
  padding-top: size(118px);
  padding-bottom: size(100px);

  @include mobile {
    padding-top: 59px;
    padding-bottom: 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: size(35px);

    @include mobile {
      margin-bottom: 17px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: size(34px);
    width: 100%;
    max-width: size(1132px);
    letter-spacing: size(-0.3px);
    @include font-xs;
    color: $white-light;

    @include mobile {
      margin-bottom: 14px;
      letter-spacing: -0.2px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__list {
    @include list-reset;
    width: 100%;
    max-width: size(1110px);
    margin-bottom: size(75px);
    margin-left: size-desktop(28px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include tablet {
      margin-left: 0;
    }

    @include tablet-small {
      margin-bottom: 28px;
      margin-left: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 20%;

    @include tablet-small {
      width: auto;
    }
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: size(120px);
    height: size(120px);
    border-radius: size(10px);
    margin-bottom: size(35px);

    @include tablet-small {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 12px;
      width: 60px;
      height: 60px;
    }

    img {
      width: size(114px);
      height: size(114px);
      border-radius: size(10px);

      @include mobile {
        width: 58px;
        height: auto;
      }
    }

    &--first {
      background: $first-link;
    }

    &--second {
      background: $second-link;
    }

    &--third {
      background: $third-link;
    }

    &--fourth {
      background: $fourth-link;
    }

    &--fifth {
      background: $fifth-link;
    }
  }

  &__text {
    margin: 0;
    text-align: center;
    @include font-medium;

    @include mobile {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__orange-line {
    width: 100%;
    height: size(1px);
    background: $orange-gradient;

    @include tablet-small {
      width: 60%;
      height: 1px;
    }
  }
}
