.press {
  position: relative;
  padding-top: size(80px);
  padding-bottom: size(40px);
  background: $press-gradient;

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    left: size(42px);
    top: size(12px);
    background-color: transparent;
    width: size(28px);
    height: size-vh(577px, $container-height);
    background-image: url('../../img/about__bg-left.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: size(28px);
    z-index: 1;

    @include mobile {
      content: none;
    }
  }

  &__title {
    margin-bottom: size(33px);
  }
}
