.present {
  &__sub-title {
    margin: 0;
    margin-bottom: size(15px);
    letter-spacing: size(-0.6px);
    @include font-large;
    color: $white;

    @include mobile {
      font-size: 16px;
      margin-bottom: 18px;
      line-height: 16px;
      letter-spacing: -0.3px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: size(7px);
    width: 100%;
    max-width: size(958px);
    text-transform: uppercase;
    @include font-xxl-bold-istok;
    color: $white;

    @include mobile {
      margin-bottom: 174px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: size(29px);
    width: 100%;
    max-width: size(650px);
    letter-spacing: size(-0.4px);
    @include font-xs;
    color: $white-light;

    @include mobile {
      margin-bottom: 36px;
      letter-spacing: -0.3px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__btn {
    margin-bottom: size(55px);

    @include mobile {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
    }
  }

  &__wrap {
    z-index: 0;
    display: flex;
    padding-top: size(10px);
    padding-left: size(65px);
    padding-bottom: size(72px);

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 size-desktop(40px);
    box-sizing: border-box;

    @include mobile {
      padding: 0 10px;
    }
  }

  &__content-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: size(958px);

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: static;
    }
  }

  &__img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: size(803px);
    height: size(811px);

    & img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    @include mobile {
      top: 161px;
      right: 50%;
      transform: translateX(50%);
      width: 320px;
      height: 240px;
    }
  }

  &-social {
    @include mobile {
      display: none;

    }
  }
}

// @keyframes spinner {
//   0%   { transform: translateY(90px); opacity:0;  }
//   50%  {  opacity:1;}
//   100% {  transform: translateY(-70px); opacity:0;}
// }

.present__img-wrap {
  .present__coin {
    position: absolute;
    z-index: 0;

    &--first {
      top: 50%;
      right: 40%;
      transform: translate(50%, 0%);
      width: size(175px);
      height: size(273px);
    }

    &--second {
      top: 40%;
      right: 9%;
      width: size(124px);
      height: size(260px);
    }

    &--third {
      top: 35%;
      right: 25%;
      width: size(107px);
      height: size(189px);
    }

    @include mobile {
      display: none;
    }

  }
}
