.slider {
  &__list {
    @include list-reset;
    margin-bottom: size(40px);
    display: flex;
    justify-content: flex-start;
  }

  &__item-wrap {
    margin-bottom: size(35px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:last-child {
      margin-right: 0;
    }

    @include tablet-small {
      max-width: 100%;
      margin-right: 0;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
    width: 100%;
    max-width: size(310px);
    box-sizing: border-box;
    padding-right: 10px;
    @include font-medium;

    @include tablet-small {
      max-width: 100%;
    }

    @include mobile {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__logo {
    @include font-xs-istok;
    @include link-reset;
    color: $white;
    background: transparent;
    background-color: transparent;
    padding: size(16px) size(64px);
    border: size(1px) solid $white-very-light;
    cursor: pointer;

    @include tablet-small {
      padding: 10px 25px;
    }

    @include mobile {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__date {
    margin-bottom: size(14px);
    color: $white-light;
    @include font-xxs;

    @include mobile {
      font-size: 10px;
      line-height: 10px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: size(20px);
    color: $white-light;
    @include font-xs;

    @include mobile {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__link {
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: auto;
    color: $orange;

    @include mobile {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__btn-wrap {
    width: 100%;
    max-width: 93.9%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-box {
    width: 100%;
    max-width: size(64px);
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    @include button-reset;
    display: inline-block;
    width: size(12px);
    height: size(12px);
    border-radius: 50%;
    background-color: $white-very-light;
    cursor: pointer;

    &--active {
      background: $orange-gradient;
    }
  }
}

.swiper-container {
  margin: 0;
  width: 100%;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  @include button-reset;
  display: inline-block;
  width: size(12px);
  height: size(12px);
  border-radius: 50%;
  background-color: $white-very-light;
  cursor: pointer;
  margin: 0 size(40px);

  @include mobile {
    margin: 0;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include mobile-small {
    margin-right: 5px;
  }
}

.swiper-pagination-bullet-active {
  background: $orange-gradient;
}
