.social {
  &__list {
    @include list-reset;
    display: flex;
    max-width: size(350px);

    li {
      margin-right: size(9px);

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      width: size(55px);
      height: size(38px);
      padding: 0;
      background: none;
      border: 0;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../../img/circle-grey.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
      }

      @include hover;
    }

    svg {
      fill:#ffffff;
      width: size(16px);
      height: size(16px);
    }
  }
}
