
svg(id= svg.id width="969" height="698" viewBox="0 0 969 698" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    path/(fill-rule="evenodd" clip-rule="evenodd" d="M827.893 522.553L583.539 513.803C552.896 512.707 525.363 490.22 515.211 457.999C505.059 425.779 514.569 391.069 538.814 371.859L544.111 367.662L417.858 423.248C414.468 424.741 411.01 425.918 407.523 426.786C377.166 434.353 344.223 418.724 327.568 387.402C309 352.482 316.573 309.132 345.183 286.574L359.396 275.367L135.165 366.323C98.9558 381.014 57.2512 360.099 42.0342 319.608C26.8164 279.117 43.8399 234.383 80.0572 219.692L625.619 -2.36719L908.009 -2.36719C908.009 -2.36719 904.724 28.6956 897.625 41.0633L985.218 2.16471L984.795 214.842L795.31 365.572L825.465 366.652C864.744 368.059 897.13 404.099 897.8 447.15C898.365 483.43 876.222 513.112 845.738 520.709C840.048 522.127 834.071 522.775 827.893 522.553Z" fill="#FFD567")
    mask(id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="-87" width="1099" height="785")
        path/(fill-rule="evenodd" clip-rule="evenodd" d="M827.893 522.553L583.539 513.803C552.896 512.707 525.363 490.22 515.211 457.999C505.059 425.779 514.569 391.069 538.814 371.859L544.111 367.662L417.858 423.248C414.468 424.741 411.01 425.918 407.523 426.786C377.166 434.353 344.223 418.724 327.568 387.402C309 352.482 316.573 309.132 345.183 286.574L359.396 275.367L135.165 366.323C98.9558 381.014 57.2512 360.099 42.0342 319.608C26.8164 279.117 43.8399 234.383 80.0572 219.692L625.619 -2.36719L908.009 -2.36719C908.009 -2.36719 904.724 28.6956 897.625 41.0633L985.218 2.16471L984.795 214.842L795.31 365.572L825.465 366.652C864.744 368.059 897.13 404.099 897.8 447.15C898.365 483.43 876.222 513.112 845.738 520.709C840.048 522.127 834.071 522.775 827.893 522.553Z" fill="white")
    g(mask="url(#mask0)")
        g(filter="url(#filter0_d)")
            rect/(x="299" y="3" width="523" height="583" fill="url(#pattern0)")
        rect/(x="540" y="8" width="499" height="614" fill="url(#pattern1)")
    defs
        filter(id="filter0_d" x="282" y="-13" width="587" height="647" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
            feFlood/(flood-opacity="0" result="BackgroundImageFix")
            feColorMatrix/(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
            feOffset/(dx="15" dy="16")
            feGaussianBlur/(stdDeviation="16")
            feColorMatrix/(type="matrix" values="0 0 0 0 0.836107 0 0 0 0 0.599484 0 0 0 0 0.123982 0 0 0 0.562172 0")
            feBlend/(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
            feBlend/(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")
        pattern(id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1")
            use/(xlink:href="#image0" transform="scale(0.001)")
        pattern(id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1")
            use/(xlink:href="#image1" transform="scale(0.001 0.000814332)")
        image/(id="image0" width="1000" height="1111" xlink:href="img/main-short-bg1.png")
        image/(id="image1" width="1000" height="1228" xlink:href="img/main-short-bg2.png")