footer.footer#download
  .container
    .footer__wrap

      .logo.footer__logo
        a.logo__link.footer__logo-link(href="#" target="_blank" title="Cryptomat")
          +svg-menu
        a.footer__confident(href="#" target="_blank") Политика конфиденциальности

      ul.footer__list
        li.footer__item
          a.footer__link(href="#ieo") IEO
        li.footer__item
          a.footer__link(href="#about") About
        li.footer__item
          a.footer__link(href="#papers") Papers
        li.footer__item
          a.footer__link(href="#roadmap") Roadmap
        li.footer__item
          a.footer__link(href="#press") Press
        li.footer__item
          a.footer__link(href="#videos") Videos
        li.footer__item
          a.footer__link(href="#team") Team
        li.footer__item
          a.footer__link(href="#faq") FAQ
        li.footer__item
          a.footer__link(href="#blog") Blog
        li.footer__item
          a.footer__link(href="https://www.deex.group/docs/terms-and-conditions-eng.pdf" aria-label="Перейти на страницу Download" target="_blank" download) Download

      .social.footer__social
        ul.social__list#menu-footer
          li
            a(href="https://twitter.com/deex_exchange" target="_blank")
              span.visually-hidden Мы в Twitter
              +svg('tw', 21, 18)
          li
            a(href="https://www.facebook.com/groups/deex.exchange/" target="_blank")
              span.visually-hidden Мы в Facebook
              +svg('fb', 11, 24)
          li
            a(href="https://vk.com/deex.exchange" target="_blank")
              span.visually-hidden Мы во Vkontakte
              +svg('vk', 24, 14)
