header.header
    .header__wrap
      .container
        .header__fixed
          .logo.header__logo
            a.logo__link(href="#" target="_blank" title="Cryptomat")
              +svg-menu

          button.header__burger(type='button' aria-label='Кнопка с меню')
              span

          nav.nav.header__nav
            ul.nav__list#menu
              li.nav__item: a.nav__link(href="#ieo" aria-label="Перейти на страницу IEO") IEO
              li.nav__item: a.nav__link(href="#about" aria-label="Перейти на страницу About") About
              li.nav__item: a.nav__link(href="#papers" aria-label="Перейти на страницу Papers") Papers
              li.nav__item: a.nav__link(href="#roadmap" aria-label="Перейти на страницу Roadmap") Roadmap
              li.nav__item: a.nav__link(href="#press" aria-label="Перейти на страницу Press ") Press
              li.nav__item: a.nav__link(href="#videos" aria-label="Перейти на страницу Videos") Videos
              li.nav__item: a.nav__link(href="#team" aria-label="Перейти на страницу Team") Team
              li.nav__item: a.nav__link(href="#faq" aria-label="Перейти на страницу FAQ") FAQ
              li.nav__item: a.nav__link(href="#blog" aria-label="Перейти на страницу Blog") Blog
              li.nav__item: a.nav__link.nav__link--download(href="https://www.deex.group/docs/terms-and-conditions-eng.pdf" aria-label="Перейти на страницу Download" target="_blank" download) Download

            .lang.header-lang
              ul.lang__list
                li.lang__item
                  a.lang__link.lang__link--triangle.lang__link--open(href="#") EN
                  ul.lang__sub-list
                    li.lang__sub-item
                      a.lang__sub-link(href="#") РУ
                    li.lang__sub-item
                      a.lang__sub-link(href="#") TR

              .social.header-social
                ul.social__list
                  li
                    a(href="https://twitter.com/deex_exchange" target="_blank")
                      span.visually-hidden Мы в Twitter
                      +svg('tw', 21, 18)
                  li
                    a(href="https://www.facebook.com/groups/deex.exchange/" target="_blank")
                      span.visually-hidden Мы в Facebook
                      +svg('fb', 11, 24)
                  li
                    a(href="https://vk.com/deex.exchange" target="_blank")
                      span.visually-hidden Мы во Vkontakte
                      +svg('vk', 24, 14)

    .present__wrap
      .present__content-wrap
          p.present__sub-title Подзаголовок
          h2.present__title Заголовок ABCD несколько слов
          p.present__descr Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
          a.btn.present__btn(href="#" target="_blank" aria-label="Кнопка перехода") Кнопка

          .social.present-social
            ul.social__list
              li
                a(href="https://twitter.com/deex_exchange" target="_blank")
                  span.visually-hidden Мы в Twitter
                  +svg('tw', 21, 18)
              li
                a(href="https://www.facebook.com/groups/deex.exchange/" target="_blank")
                  span.visually-hidden Мы в Facebook
                  +svg('fb', 11, 24)
              li
                a(href="https://vk.com/deex.exchange" target="_blank")
                  span.visually-hidden Мы во Vkontakte
                  +svg('vk', 24, 14)

      .present__img-wrap
        img.present__coin.present__coin--first(src="img/first-coin.svg" alt="Coin" width="175" height="273")
        img.present__coin.present__coin--second(src="img/second-coin.svg" alt="Coin" width="124" height="260")
        img.present__coin.present__coin--third(src="img/third-coin.svg" alt="Coin" width="107" height="189")
        picture
          source(media="(max-width: 767px)" srcset="img/present-bg-mobile.svg")
          img(src="img/present-bg.svg" alt="Present Image" width="859" height="811")
