header.header
    .header__wrap
      .logo.header__logo
        a.logo__link(href="#" target="_blank" title="Cryptomat")
          +svg-menu
      nav.nav.header__nav
        ul.nav__list
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу IEO") IEO
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу About") About
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу Papers") Papers
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу Roadmap") Roadmap
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу Press ") Press
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу Videos") Videos
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу Team") Team
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу FAQ") FAQ
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу Blog") Blog
          li.nav__item: a.nav__link(href="#" aria-label="Перейти на страницу Download") Download

      .lang.header__lang
        ul.lang__list
          li.lang__item
            a.lang__link.lang__link--triangle(href="#")
              span.lang__name EN
            ul.lang__sub-list
              li.lang__sub-item
                a.lang__sub-link(href="#")
                span.lang__sub-name RU
              li.lang__sub-item
                a.lang__sub-link(href="#")
                span.lang__sub-name UK
              li.lang__sub-item
                a.lang__sub-link(href="#")
                span.lang__sub-name US
