include pug/mixins/svg

section.about#about
  .container
    .positioner
      h2.title.about__title About

      p.about__descr Deex provides individuals a reliable and convenient platform to quickly trade, buy or sell cryptocurrencies with help of the most popular payment methods for the fiat currencies available in the country of his/her residence. Initially more than 10 cryptocurrencies will be available for the exchange including Bitcoin and Ethereum and many other altcoins.
