include pug/mixins/svg

section.ieo
  .container
    .positioner
      h2.title.ieo__title Ieo

      .ieo__content-wrap
        .ieo__img-wrap
          img(src="img/ieo-bg.svg" alt="Image Ieo Token" width="435" height="538")

        .advance.ieo__advance
          ul.advance__list
            li.advance__item
              .advance__img-wrap
                img(src="img/crown.svg" alt="Image Ieo Token" width="44" height="40")
              .advance__decr
                h3 Подзаголовок
                p Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример
              .advance__line

            li.advance__item
              .advance__img-wrap
                img(src="img/diagramm.svg" alt="Image Ieo Token" width="44" height="40")
              .advance__decr
                h3 Подзаголовок
                p Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример

            li.advance__item
              .advance__img-wrap
                img(src="img/hand.svg" alt="Image Ieo Token" width="44" height="40")
              .advance__decr
                h3 Подзаголовок
                p Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример

          .title-box.advance__title-box
            span Сryptomat


          a.btn.btn--orange.advance__btn(href="#" target="_blank") Кнопка
