include pug/mixins/svg

section.paper#papers
  .container
    .positioner
      h2.title.paper__title Papers
      p.paper__descr Download the other DEEX documents describe crucial benefits of DEEX being all-in-one decentralized cryptocurrency ecosystem bringing the new level of ease and speed at which DEX cryptocurrency exchange works, as well as fully functional ecosystem of cryptocurrency ATMs, debit crypto cards, API, merchant, traded cryptocurrency Blockchain fund and ICO ecosystem

      .swiper-container.swiper-container-s4
        ul.paper__list.swiper-wrapper
          li.paper__item.swiper-slide
            a.paper__link.paper__link--first(href="https://www.deex.group/docs/DEEX_wp-2.0_eng.pdf" target="_blank" download)
                img(src="img/terminal.svg" alt="" width="114" height="114")
            p.paper__text Whitepaper
          li.paper__item.swiper-slide
            a.paper__link.paper__link--second(href="https://www.deex.group/docs/one-pager-en.pdf" target="_blank" download)
                img(src="img/terminal.svg" alt="" width="114" height="114")
            p.paper__text One-pager
          li.paper__item.swiper-slide
            a.paper__link.paper__link--third(href="https://www.deex.group/docs/pres-eng.pptx" target="_blank" download)
                img(src="img/terminal.svg" alt="" width="114" height="114")
            p.paper__text Presentation
          li.paper__item.swiper-slide
            a.paper__link.paper__link--fourth(href="https://www.deex.group/docs/terms-and-conditions-eng.pdf" target="_blank" download)
                img(src="img/terminal.svg" alt="" width="114" height="114")
            p.paper__text Terms & Conditions
          li.paper__item.swiper-slide
            a.paper__link.paper__link--fifth(href="https://github.com/thedeex/deex.statistics.api" target="_blank" download)
                img(src="img/terminal.svg" alt="" width="114" height="114")
            p.paper__text DEEX API & DOCS


      .paper__orange-line
