include pug/mixins/svg

section.press
  .container
    .positioner
      h2.title.press__title Press about us

      .slider
        ul.slider__list
          li.slider__item
            .slider__item-wrap
              h3.slider__title Заголовок новости
              a.btn.slider__logo(href="#" target="_blank") Лого

            .slider__date 12.07.2019
            p.slider__descr Download the other DEEX documents describe crucial benefits of DEEX being all-in-one decentralized cryptocurrency ecosystem bringing the new level of ease and speed at which DEX cryptocurrency exchange works, as well as fully functional ecosystem of cryptocurrency ATMs, debit crypto cards, API, merchant, traded cryptocurrency Blockchain fund and ICO ecosystem
            .slider__link read more

          li.slider__item
            .slider__item-wrap
              h3.slider__title Заголовок новости на нескольких строках
              a.btn.slider__logo(href="#" target="_blank") Лого

            .slider__date 12.07.2019
            p.slider__descr Download the other DEEX documents describe crucial benefits of DEEX being all-in-one decentralized cryptocurrency ecosystem bringing the new level of ease and speed at which DEX cryptocurrency exchange works
            .slider__link read more
        .slider__btn-wrap
          .slider__btn-box
            button.slider__btn.slider__btn--prev.slider__btn--active
            button.slider__btn.slider__btn--next
