include pug/mixins/svg

section.roadmap
  .container
    .positioner
      h2.title.roadmap__title Roadmap

      .roadmap__wrapper
        .roadmap__left
          p.roadmap__descr
            The ever 1st user friendly cryptocurrency decentralized exchange. Including blockchain traded fund, secured decentralized blockchain financial p2p messenger, ICO platform and portfolio of inhouse high-end projects for investment
        .roadmap__right
          
