include pug/mixins/svg

section.roadmap#roadmap
  .container
    .positioner
      h2.title.roadmap__title Roadmap

      .roadmap__wrapper
        .roadmap__left
          p.roadmap__descr
            | The ever 1st user friendly cryptocurrency decentralized exchange. Including blockchain traded fund, secured decentralized blockchain financial p2p messenger, ICO platform and portfolio of inhouse high-end projects for investment

        .roadmap__right
          .advance.roadmap__advance
            ul.advance__list.roadmap__list
              li.advance__item.roadmap__item
                .advance__img-wrap.roadmap__img-wrap
                  span.roadmap__circle
                .advance__decr
                  .roadmap__title-wrap
                    h3 Подзаголовок c датой
                    span.roadmap__status completed
                  p Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример
              li.advance__item.roadmap__item
                .advance__img-wrap.roadmap__img-wrap
                  span.roadmap__circle
                .advance__decr
                  .roadmap__title-wrap
                    h3 Подзаголовок c датой
                    span.roadmap__status completed
                  p Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример
              li.advance__item.roadmap__item
                .advance__img-wrap.roadmap__img-wrap
                  span.roadmap__circle.roadmap__circle--small
                .advance__decr
                  .roadmap__title-wrap
                    h3 Подзаголовок c датой
                    span.roadmap__status.roadmap__status--active PROCESSING
                  p Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример
              li.advance__item.roadmap__item
                .advance__img-wrap.roadmap__img-wrap
                  span.roadmap__circle.roadmap__circle--small
                .advance__decr
                  .roadmap__title-wrap
                    h3 Подзаголовок c датой
                    span.roadmap__status.roadmap__status--active PROCESSING
                  p Какой-то текст с описанием. Но явные признаки победы институционализации, которые представляют собой яркий пример




