include pug/mixins/svg

section.team
  .container
    h2.title.team__title Team
    ul.team__list
      li.team__item
        img.team__img(src="img/whtie-cirlcle.svg" width="220" height="220" alt="Фото сотрудника")
        p.team__name Имя Фамилия
        p.team__position Должность
        .social.team__social
          ul.social__list.team__social-list
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Facebook
                +svg('tw', 21, 18)
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Twitter
                +svg('fb', 11, 24)
      li.team__item
        img.team__img(src="img/whtie-cirlcle.svg" width="220" height="220" alt="Фото сотрудника")
        p.team__name Имя Фамилия
        p.team__position Должность
        .social.team__social
          ul.social__list.team__social-list
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Facebook
                +svg('tw', 21, 18)
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Twitter
                +svg('fb', 11, 24)
      li.team__item
        img.team__img(src="img/whtie-cirlcle.svg" width="220" height="220" alt="Фото сотрудника")
        p.team__name Имя Фамилия
        p.team__position Должность
        .social.team__social
          ul.social__list.team__social-list
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Facebook
                +svg('tw', 21, 18)
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Twitter
                +svg('fb', 11, 24)
      li.team__item
        img.team__img(src="img/whtie-cirlcle.svg" width="220" height="220" alt="Фото сотрудника")
        p.team__name Имя Фамилия
        p.team__position Должность
        .social.team__social
          ul.social__list.team__social-list
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Facebook
                +svg('tw', 21, 18)
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Twitter
                +svg('fb', 11, 24)
      li.team__item
        img.team__img(src="img/whtie-cirlcle.svg" width="220" height="220" alt="Фото сотрудника")
        p.team__name Имя Фамилия
        p.team__position Должность
        .social.team__social
          ul.social__list.team__social-list
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Facebook
                +svg('tw', 21, 18)
            li
              a(href="#" target="_blank")
                span.visually-hidden Мы в Twitter
                +svg('fb', 11, 24)
