@mixin desktop-only {
  @media (min-width: $width-desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $width-laptop - 1px) {
    @content;
  }
}

@mixin tablet-media {
  @media (max-width: $width-tablet-media) {
    @content;
  }
}

@mixin tablet-only {
  @media (max-width: $width-laptop - 1px) and (min-width: $width-tablet) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: $width-tablet-lg - 1px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $width-tablet - 1px) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: $width-mobile - 1px) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin font-xxl-bold {
  font-size: size(90px);
  line-height: size(90px);
  font-weight: bold;
}

@mixin font-xxl-bold-istok {
  font-family: $istok-bold;
  font-size: size(90px);
  line-height: size(90px);
  font-weight: bold;
}

@mixin font-xl-bold {
  font-size: size(70px);
  line-height: size(90px);
  font-weight: bold;
}

@mixin font-xl-bold-istok {
  font-family: $istok-bold;
  font-size: size(70px);
  line-height: size(90px);
  font-weight: bold;
}

@mixin font-large {
  font-size: size(40px);
  line-height: size(54px);
  font-weight: 300;
}

@mixin font-medium {
  font-size: size(28px);
  line-height: size(28px);
  font-weight: 500;
}


@mixin font-xs {
  font-size: size(18px);
  line-height: size(25px);
  font-weight: 300;
}

@mixin font-xs-istok {
  font-family: $istok;
  font-size: size(18px);
  line-height: size(25px);
  font-weight: 300;
}


@mixin font-xs-ist {
  font-family: $istok;
  font-size: size(14px);
  line-height: size(14px);
  font-weight: 300;
}


@mixin font-face($name, $filename, $weight, $style: normal) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('../fonts/'+$filename+'.woff2') format('woff2'), url('../fonts/'+$filename+'.woff') format('woff');
  }
}

@mixin field-reset {
  padding: 0;
  background-color: $transparent;
  border: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@mixin button-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

@mixin triangle {
  content: '';
  position: absolute;
  right: size(-13px);
  top: size(8px);
  width: size(6px);
  height: size(6px);
  border-left: size(2px) solid $white;
  border-bottom: size(2px) solid $white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

@mixin hover {
  transition: $transition;

  &::before,
  &::after {
    transition: transform 0.2s $transition;
    transform-origin: center;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before,
    &::after {
      transform: scale(1.2);
    }
  }
}
