$width-desktop: 1280px;
$width-laptop: 1200px;
$width-tablet-lg: 1024px;
$width-tablet: 768px;
$width-mobile: 375px;
$width-min: 320px;

$container-height: 800px;

$width-tablet-media: 1000px;

$height-desktop: 800px;
$height-tablet: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$notosans: 'NotoSans', 'Arial', sans-serif;
$istok: 'IstokWeb-Regular', 'Arial', sans-serif;
$istok-bold: 'IstokWeb-Bold', 'Arial', sans-serif;

$font-main: 18px;

$transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);

$black: #000000;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.8);
$white-light-middle: rgba(255, 255, 255, 0.5);
$white-very-light: rgba(255, 255, 255, 0.3);
$transparent: transparent;
$transition: cubic-bezier(0.77, 0, 0.175, 1);

$blue: #0758b7;
$vivid-blue: #039cfd;
$light-blue: #66ccff;
$dark-blue: #01194f;
$very-dark-blue: #0e171c;

$gold: #ffea43;
$orange: #ff9900;

// $blue-linear: #0099FF 0.34%#66CCFF 100%;

$orange-gradient: linear-gradient(225deg, #ff9900 0%, #ffe91a 100%);
$orange-gradient-2: linear-gradient(270deg, #ff9900 0%, #ffe91a 100%);
$blue-gradient: linear-gradient(225deg, #0099FF 0.34%, #66CCFF 100%);

$about-gradient: linear-gradient(270.35deg, #012965 0.09%, #01194F 99.82%);
$press-gradient: linear-gradient(-89.02deg, #01194F 0.38%, #012965 99.63%);

$first-link: linear-gradient(225deg, #ff9900 0%, #ffe91a 100%);
$second-link: linear-gradient(225deg, #2F80ED 0%, #6FCF97 100%);
$third-link: linear-gradient(225deg, #9B51E0 0%, #EB5757 100%);
$fourth-link: linear-gradient(225deg, #219653 0%, #F2C94C 100%);
$fifth-link: linear-gradient(270deg, #ff9900 0%, #eb5757 100%);

